
/*intro section */
#title-sec {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15%; margin-right: 15%;
    text-align: center;
    align-items: center;
    margin-top: 2.5%;
}
.wolfson-line-break {
    height: 7px;
    background-color: #CE2328;
    border-color: transparent;
    box-shadow: 0px 3px white, 0px 6px #24336D;
}

/* title when it was just text
#title {
    color: #CE2328;
    font-size: 450%;
    margin-bottom: 0px;
    text-shadow: -2px 2px 1px #24336D;
}
*/
#title {
    width: 80%;
}

/*robot section*/
#robot-info {
    display: flex;
    justify-content: flex-start;
    gap: 1%;
}

/*team section*/
#team-info {
    display: flex;
    justify-content: flex-end;
    gap: 1%;
}



