#contact-title {
    font-family: "Birthstone";
    font-size: 9em;
    color: #24336D;
    margin: 0px;
    padding: 0px;
    text-shadow: -2px 2px 1px #CE2328;
    height: 1.1em;
    white-space: nowrap;
    overflow: hidden;
}

#contact-intro-text {
    margin-bottom: 5%;
    font-size: 115%;
}


.social {
    display: flex;
    align-items: center;  
    gap: 1%;
    margin-top: 0.5%;
}

.social-img {
    width: 3em;
}

.contact-text {
    margin: 0.5% 0px;
}

@media all and (min-width:460px) and (max-width: 560px) {
    #contact-title {
        font-size: 7em;
    }
}
@media all and (min-width:0px) and (max-width: 460px) {
    #contact-title {
        font-size: 4em;
    }
}