/*
Wolfson Colors
Red color: #CE2328
Blue color: #24336D
*/

body { 
    margin: 0;
    padding: 0;
}

.info-body {
    padding: 2% 5%;
    min-height: 90vh; /*So the footer stays at the bottom of the page*/
}

* {
    font-family: 'Courier New', Georgia, sans-serif;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: #24336D;
    margin: 0px;
}

a {
    text-decoration: none;
}

